*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
.playerOne {
    float: left;
    margin-left: 200px;
}
.playerTwo{
    float: right;
    margin-right: 200px;
}
.start {
    display: block;
    text-align: center;
    margin: 25px auto;
}
.container {
    display: none;
}
.gameboard {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #000000;
    text-align: center;
}
.empty {
    border: 1px solid #000000;
}
.winner {
    text-align: center;
}
.reset {
    display: none;
    text-align: center;
    margin: 25px auto;
}