*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
.container {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #000000;
    text-align: center;
}
.empty {
    border: 1px solid #000000;
}